@model Decimal?

@if (Model.Value == 0)
{
    <span>FREE</span>
}
else if ((Model.Value % 1) == 0)
{
    <span>@Model.Value.ToString("C0")</span>
}
else
{
    <span>@Model.Value.ToString("C2")</span>
}
