@model SofiaToday.Web.ViewModels.Articles.AllArticlesViewModel
@{
    ViewBag.Title = "All Articles";
}

<div class="row">
    <div class="col-md-9">
        @Html.DisplayFor(x => x.AllArticles)
    </div>
    <div class="col-md-3">
        <div>Sidebar</div>
    </div>
</div>
