@model SofiaToday.Web.ViewModels.Events.AllEventsViewModel
@{
    ViewBag.Title = "All Upcoming Events";
}

<h2>All Upcoming Events</h2>

<div class="row">
    @Html.DisplayFor(x => x.AllEvents)
</div>



<div class="row text-center">
    <nav>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="/events/?page=@(Model.CurrentPage - 1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = string.Empty;

            if (Model.CurrentPage == i)
            {
                className = "active";
            }

            <li class="@className"><a href="/events/?page=@i">@i</a></li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a href="/events/?page=@(Model.CurrentPage + 1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        }
    </ul>
</nav>
</div>
