@{ 
    ViewBag.Title = "About Project";
}

<p>My name is Stoyan Berov and SofiaToday is my final project as part of Telerik Academy's ASP.NET MVC course.</p>

<p>SofiaToday is a web-application for viewing, sharing and managing events happening in Sofia, Bulgaria.</p>

<ul>Main Features (All Users):
    <li>Viewing Events</li>
    <li>Reading Articles</li>
    <li>Leaving Article Comments</li>
    <li>Viewing Events</li>
    <li>Sending Messages</li>
</ul>

<ul>
    Registered Users:
    <li>Creating Events</li>
    <li>Creating Articles</li>
</ul>

<ul>
    Administrators can further:
    <li>Modify Events</li>
    <li>Modify Articles</li>
    <li>Access Messages</li>
</ul>

<ul>
    Other Information:
    <li>Over 25 Unit Tests available</li>
    <li>Seed available</li>
</ul>

<ul>
    Technologies used:
    <li>ASP.NET MVC with Visual Studio 2015</li>
    <li>Razor Template Engine</li>
    <li>Kendo UI widgets</li>
    <li>MS SQL Server</li>
    <li>Entity Framework 6</li>
    <li>Automapper</li>
    <li>Ninject</li>
</ul>