@model SofiaToday.Web.ViewModels.Events.UpcomingPassedEventsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Upcoming Events</h1>
<div class="row">
    @if (Model.UpcomingEvents.Any())
    {
        @Html.DisplayFor(x => x.UpcomingEvents)
    }
    else
    {
        <div>No Upcoming Events</div>
    }
</div>

<h1>Passed Events</h1>
<div class="row">
    @if (Model.PassedEvents.Any())
    {
        @Html.DisplayFor(x => x.PassedEvents)
    }
    else
    {
        <div>No Passed Events</div>
    }
</div>