@using Microsoft.AspNet.Identity

@if (User.IsInRole("Administrator"))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="~/Administration/Users/Index">Manage Users</a></li>
                <li><a href="~/Administration/Events/Index">Manage Events</a></li>
            </ul>
        </li>
    </ul>
}
