<div class="jumbotron">
    <h1 class="text-center">All Sofia Events in One Place</h1>
    <h2 class="text-center">Find something better to do today.</h2>
    <div class="text-center">
        <a href="events" class="btn btn-info btn-raised">Explore Events</a>
        <a href="articles" class="btn btn-success btn-raised">Read Articles</a>
    </div>
</div>
