<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <h3>Information</h3>
                    <ul>
                        <li> <a href="/home/about">About Us</a> </li>
                        <li> <a href="/messages">Contact Us</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Nightlife</a></li>
                        <li><a href="#">Concerts</a></li>
                        <li><a href="#">Cinema</a></li>
                        <li><a href="#">Theatre</a></li>
                        <li><a href="#">Activities</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Misc</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h3>Extras</h3>
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Places</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h3>Keep in Touch</h3>
                    <ul>
                        <li><a href="mailto:stoyan.berov@gmail.com">My Email</a></li>
                        <li><a href="www.github.com/stoberov">My Github</a></li>
                        <li><a href="https://www.linkedin.com/in/stoyanberov">My LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="text-center">
                Made with hands in Bulgaria. <br />
                Copyright © SofiaToday. All right reserved.
            </p>
        </div>
    </div>
</footer>