@model SofiaToday.Web.ViewModels.Events.DetailsViewModel

<div class="bs-component">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Related Events</h2>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(x => x.RelatedEvents)
        </div>
    </div>
</div>
